include README.md
include LICENSE
include requirements.txt
include MANIFEST.in
recursive-include datamodel_profiler *.py
recursive-include tests *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*
global-exclude .DS_Store
